body {
    text-align: center;
    background-color: rgb(226, 238, 250);
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color:rgb(58, 55, 55);
}

h3, p {
    text-align: left;
}

img {
    width: 500px;
    height: auto;
}